<section class="banner-wapper">
    <div class="custom-container">
      <div class="banner-bg" routerLink="../c2oAll">
        <img class="img-fluid img-bg" src="assets/fuzzy/images/banner/banner-2.jpg" alt="banner-2" />
        <div class="banner-content">
          <h2 class="fw-semibold">Bienvenido</h2>
          <h4>Gestor de inventario y ordenes de pedidos</h4>
        </div>
        <a  class="more-btn">
          <h4>ver más</h4>
          <i class="iconsax right-arrow" data-icon="arrow-right"></i>
        </a>
      </div>
    </div>
  </section>