<header class="section-t-space" [hidden]="(router.url.includes('c2oAll') || !router.url.includes('home') )">
    <div class="custom-container" >
      <div class="header">
        <div class="head-content">
          <button class="sidebar-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasLeft">
            <i class="iconsax menu-icon" data-icon="menu-hamburger"></i>
          </button>
          <div class="header-info">
            <img class="img-fluid profile-pic" src="https://click2orderweb.buckapi.us/assets/gymove/images/profile/17.jpg" alt="profile" />
            <div>
              <h4 class="light-text">Hola</h4>
              <h2 class="theme-color">{{yeoman.user?.username}}</h2>
            </div>
          </div>
        </div>
        <a  class="notification"  >
          <i class="iconsax notification-icon" data-icon="bell-2"></i>
        </a>
      </div>
    </div>
  </header>
  <header class="section-t-space" [hidden]="( !router.url.includes('c2oOrders') )">
    <div class="custom-container">
      <div class="header-panel">
        <a routerLink="home">
          <i class="iconsax back-btn" data-icon="arrow-left"></i>
        </a>
        <h3>Historial de ordenes</h3>
        <a  class="notification"  [hidden]="router.url.includes('c2oOrders')">
          <i class="iconsax notification-icon" data-icon="bell-2"></i>
        </a>
      </div>
      
    </div>
  </header>
  <header class="section-t-space" [hidden]="( !router.url.includes('detail') )">
    <div class="custom-container">
      <div class="header-panel">
        <a routerLink="c2oAll">
          <i class="iconsax back-btn" data-icon="arrow-left"></i>
        </a>
        <h3>Detalle</h3>
        <!-- <a  class="notification"  [hidden]="router.url.includes('c2oOrders')">
          <i class="iconsax notification-icon" data-icon="bell-2"></i>
        </a> -->
      </div>
      
    </div>
  </header>
  